/*Global Variables */
:root {
   

    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    

}

.resume-intro {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border: solid red; */
    color:white;
    justify-content: center;
    padding-bottom: 3%;
    background-color: var(--color4);

    

}
.resume-intro a {
    text-decoration: none;
    color: white;
}


.resume-intro>p {
    color: var(--primary-color);
}
.resume-content {
    /* border: solid orange; */
  
   
    
}

.intro>p {
    color:var(--color5);
    padding: 3%;
    text-align: left;
    /* border: solid yellow; */
}
.experiences{
    padding: 30px;
    margin: 20px;
    /* border: solid green; */
}
.educations {
    padding: 30px;
    margin: 20px;
    /* border: solid blue; */
}
h2 {
    color:var(--color5);
    padding-left: 1%;
    padding-top:1%;
    padding-right:1%;
    padding-bottom: 1%;
}
h3 {
    color:var(--color5);
    padding-left: 1%;
    padding-top:2%;
}
p {
    color:white;
    padding-left:1%;
    padding-top:1%;
}
.skills {
    display:flex;
    font-size: 1.77%vw;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* border: solid violet; */
    padding: 30px;
    margin: 20px;
    background-color: var(--color2);
    color: var(--color5)
    
}
.skill-title {
    /* color: purple; */
   
    
    

}


.skill-col-1 {
    padding:20px;
    margin:20px;
    font-size: 18px;
    
}
.skill-col-2 {
    padding:20px;
    font-size: 18px;
    margin:20px;
}


/*Media Query for better mobile responsiveness */
@media screen and (max-width: 980px) {







}/*980px breakpoint end */
@media screen and (max-width: 768px) {
    

}/*768px breakpoint end */

@media screen and (max-width: 575px) {
     header h1 {
        font-size: 5.0vw;
    }
    header nav ul li a {
        font-size: 3.0vw;
    }
    .resume-intro>p {
        text-align: center;
        padding:10px;
    }
    body {
        border:solid 8px red;
    }
    header {
        flex-wrap:wrap;
        justify-content: center;
    }
    /* .intro>p {
        padding:15px;
    } */
    .skills {
        flex-direction: column;


    }

    .skill-col-1 {
        padding:0px; 
        margin:0px; 
        font-size: 18px;
    }
    .skill-col-2 {
        padding:0px;
        font-size: 18px;
        margin:0px;
    }

    p {
        padding:10px;
    }
}/*575px breakpoint end */
