/*Global Variables */
:root {
    --primary-color: rgb(66, 158, 66);
    --secondary-color: white;
    --tertiary-color: black;
    --hero-height:600px;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.resume-intro {
    display:flex;
    flex-direction: column;
    align-items: center;

    

}

.resume-intro  {
    color:red;
    justify-content: center;
    padding-bottom: 3%;
    
}
.resume-intro>p {
    color:orange;
}
.resume-content {
  
   
    
}
p {
    color:crimson;
    padding-left:1%;
    padding-top:1%;
}
.intro>p {
    color:blue;
    padding: 3%;
    text-align: left;
}
h2 {
    color:brown;
    padding-left: 1%;
    padding-top:1%;
}
h3 {
    color:chartreuse;
    padding-left: 1%;
    padding-top:1%;
}
.skills {
    display:flex;
    font-size: 1.77%vw;
    justify-content: space-evenly;
    align-items: center;
}
.skill-title {
    color: purple;
   
    
    

}


.skill-col-1 {
    padding:20px;
    font-size: 18px;
}
.skill-col-2 {
    padding:20px;
    font-size: 18px;
}



