/*Global Variables */
:root {
     
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.resume-intro {
    display:flex;
    flex-direction: column; 
    color: var(--color6);
    justify-content: center;
    padding-bottom: 3%;
    background-color: var(--color4);
}
.resume-intro a {
    text-decoration: none;
    color:var(--color6);  
}

.address {
    display:flex;
    flex-direction: column;
    align-items: center; 
      
}
.address h1 {
    color:var(--color6);
    font-size: 5.0vw; 

}
.address h2 { 
    color:var(--color6);
    font-size: 2.0vw; 

} 

.contacts {
    display:flex;  
    align-items:center;
    justify-content: space-around; 
}

.intro>p {
    color:var(--color6);
    padding: 3%;
    text-align: left;
   
}
.experiences{
    padding: 1.0vw;
    margin: 1.0vw;
    
}
.educations {
    
    padding: 1.0vw;
    margin: 1.0vw;
   
}
h2 {
    color:var(--color6);
    padding-left: 1%;
    padding-top:1%;
    
}
h3 {
    color:var(--color6);
    padding-left: 1%;
    padding-top:2%;
}
p {
    color:white;
    padding-left:1%;
    padding-top:1%;
}
.skills {
    display:flex;
    font-size: 1.77%vw;
    padding: 30px;
    margin: 20px;
    background-color: var(--color2);
    color: var(--color6)
    
}

.skill-col-1 {
    padding:20px;
    margin:20px;
    font-size: 18px;
    
}
.skill-col-2 {
    padding:20px;
    font-size: 18px;
    margin:20px;
}


/*Media Query for better mobile responsiveness */
@media screen and (max-width: 980px) {

/* NO CHANGES NEEDED FOR THIS RESOLUTION */

}/*980px breakpoint end */
@media screen and (max-width: 768px) {

    /* NO CHANGES NEEDED FOR THIS RESOLUTION */
    

}/*768px breakpoint end */

@media screen and (max-width: 575px) {
     header h1 {
        font-size: 5.0vw;
    }
    
    header nav ul li a {
        font-size: 3.0vw;
    }

    .resume-intro>p {
        text-align: center;
        padding:10px;
    }
    .contacts {
        display:flex;
        align-items:center;
        width: 80%;
    }
    
    header {
        flex-wrap:wrap;
        justify-content: center;
    }
    
    .skills {
        flex-direction: column;

    }

    .skill-col-1 {
        padding:0px; 
        margin:0px; 
        font-size: 18px;
    }
    .skill-col-2 {
        padding:0px;
        font-size: 18px;
        margin:0px;
    }

    p {
        padding:10px;
    }
}/*575px breakpoint end */
