/*Global Variables */
:root {
    --primary-color: rgb(66, 158, 66);
    --secondary-color: white;
    --tertiary-color: black;
    --hero-height:600px;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    color:var(--primary-color);
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 20px;
    background-color:var(--primary-color);
    display:flex;
    justify-content: space-between;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    
}
header a {
    text-decoration: none;
    color:white;
}
header h1 {
    font-size: 3.0vw;
    text-shadow: 0 0 20px rgba(0,0,0,.9);
    
    
    
}
header nav {
    margin: 10px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.77vw;
    text-shadow: 0 0 20px rgba(0,0,0,.9);
}
header nav ul li a:hover {
    background:var(--secondary-color);
    border-radius: 20px;
}
.hero {
    display:flex;
    align-items: flex-start;
    /* height:100%; */

}
/*set profile pic to 100% of the block */
.hero > img {
    height: var(--hero-height);
}
.hero p {
    font-size: 2.0vw;
    padding: 20px;
    color:var(--primary-color);
    /* height:100% */

}
.about-text {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height:var(--hero-height);
    
    

}
.my-work {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.work {
    
    min-width: 33%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.work h4 {
    z-index: 10;
    font-size:2.0vw;
}
footer {
    display: flex;
    justify-content: center;
    
    padding: 1%;
    
}
footer h2 {
    color: var(--primary-color);
    
}
